<div class="form-wrapper">
  <!-- Search Field -->
  <div class="search-box">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Employee ID</mat-label>
      <input matInput [(ngModel)]="employeeId" required/>
    </mat-form-field>
  </div>

  <!-- View History Button -->
  <div class="form-actions">
    <button
      mat-raised-button
      color="primary"
      (click)="fetchHistory()"
    >
      View History
    </button>
  </div>

  <!-- Employee Info -->
  <div *ngIf="employeeName" class="info">
    Name : {{ employeeName }}
  </div>

  <!-- Attendance Table -->
  <table
    mat-table
    *ngIf="showTable"
    [dataSource]="dataSource"
    class="mat-elevation-z2 table"
  >
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let row"> {{ row.date }} </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let row"> {{ row.department }} </td>
    </ng-container>

    <ng-container matColumnDef="checkIn">
      <th mat-header-cell *matHeaderCellDef> Check-In </th>
      <td mat-cell *matCellDef="let row"> {{ row.check_in_time }} </td>
    </ng-container>

    <ng-container matColumnDef="checkOut">
      <th mat-header-cell *matHeaderCellDef> Check-Out </th>
      <td mat-cell *matCellDef="let row"> {{ row.check_out_time || '—' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
